<mat-toolbar class="mat-toolbar">
    Bienvenue, et bon appétit
</mat-toolbar>
<div class="main-div">
    <div *ngFor="let burger of burgers">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{burger.name}}</mat-card-title>
                <mat-card-subtitle>Burger numéro {{burger.id}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{burger.image}} alt="Unloaded picture of a Burger">
            <mat-card-content>
                <p>Prix : {{burger.price}} €</p>
            </mat-card-content>
            <mat-card-actions>
            <a mat-raised-button color="basic" routerLink="burgerDetail/{{burger.id}}">DETAIL</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>